* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Roboto", sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: unset;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}